.error {
  background-color: #17002F;
  width: 100wv;
  min-height: 100vh;
}

.error__container {
  position: relative;
  margin: 0 auto;
  padding: 96px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error__container__text {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 700px;
  line-height: 818px;
  display: inline-block;
  letter-spacing: 4px;
  color: rgba(255, 255, 255, 0.5);
  max-width: 1277px;
  max-height: 672px;
  z-index: 1;
}

.error__container__image-img {
  position: absolute;
  max-width: 690px;
  max-height: 623px;
  top: 11.72%;
  z-index: 2;
}

.error__container__btn-btn {
  color: #212121;
  width: 231px;
  height: 66px;
  background: #73D677;
  box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
  border-radius: 11px;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 27px;
  margin: 120px auto 0;
}

/* Tablet */
@media (min-width: 680px) and (max-width: 1300px) {
  .error__container__text {
    font-size: 350px;
    line-height: 450px;
  }

  .error__container__image-img {
    width: 400px;
    top: 8%;
  }
}

/* Phone and Tablet */
@media (min-width: 425px) and (max-width: 679px) {
  .error__container__text {
    font-size: 220px;
    line-height: 450px;
  }

  .error__container__image-img {
    width: 220px;
    top: 20%;
  }
}

/* Phone */
@media (max-width: 424px) {
  .error__container__text {
    font-size: 150px;
    line-height: 450px;
  }

  .error__container__image-img {
    width: 150px;
    top: 25%;
  }
}
